.button {
  width: 130px;
  height: 60px;
  background-color: var(--color-primary);
}
.button--medium {
  width: 130px;
  height: 40px;
  background-color: var(--color-primary);
}
.variation {
  background-color: var(--color-primary-50);
}
.variation:hover {
  background-color: var(--grey-50);
}
.button:hover {
  background-color: var(--grey-20);
}
.button--medium:hover {
  background-color: var(--grey-20);
}
